body {
    display: grid;
    grid-template-columns: 100px auto 100px;
    background: linear-gradient(rgb(90, 30, 30), rgb(90, 30, 90)) no-repeat center center fixed;
    margin: 0;
}

.header {
    grid-column: 1/4;
    background: linear-gradient(rgba(180,50,50,1), rgba(180,100,50,0.5));
    padding: 15px;
    color: white;
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.contents {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto;
}

.header > h1{
    font-size: 50px;
}

.header > h2{
    font-size: 40px;
}

.header > *{
    font-weight: 600;
    text-shadow: 0 0 10px black;
}

h1, h2{
    margin: 0;
}

.center {
    justify-self: center;
}

.white {
    color: white;
}

.spaced {
    margin: 5px 5px 5px 5px;
}

.table {
    margin-bottom: 0;
}

.plant-table {
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    height: 400px;
    width: 80%;
    justify-self: center;
    overflow: auto;
}